<h1>INDEX OF ARTICLES</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title%></td>
      <td><%= article.text%></td>
      <td><%= link_to 'show', article_path(article) %></td>
      <td><%= link_to 'update', edit_article_path(article) %></td>
    </tr>
  <%end%>
</table>


<%= link_to 'Create new', new_article_path%>